---
- hosts: vm
  become: yes
  # vars_file:
  #   -vars.yaml

  pre_tasks: 
  - name: Update Apt Cache
    apt: 
      update_cache: true
      cache_valid_time: 3600
  
  handlers: 
  - name: restart plex
    service: 
      name: plexmediaserver
      state: restarted
  
  tasks: 
    - name: Get Plex deb package
      get_url: 
        url: https://downloads.plex.tv/plex-media-server-new/1.42.2.10156-f737b826c/debian/plexmediaserver_1.42.2.10156-f737b826c_arm64.deb?_gl=1*ceqzls*_gcl_au*MTQxNDk5NjE0NS4xNzY0MjE2NTQy*_ga*MTUzNDExMDYzMC4xNzY0MjE2NTQy*_ga_G6FQWNSENB*czE3NjQyMTY1NDIkbzEkZzEkdDE3NjQyMTcwODMkajQzJGwwJGgwc
        dest: ~/
    
    - name: Install the Plex Deb Package
      apt: 
        deb: ~/plexmediaserver_1.42.2.10156-f737b826c_arm64.deb 
    
    - name: Start Plex
      service: 
        name: plexmediaserver
        state: started
        enabled: yes

    
